.menuButton {
	font-size: 28px;
	text-transform: none;
	padding: 0 10px;
	margin-top: 10px;
}

.orderItemContainer {
	border-style: solid;
	border-width: 1px;
	margin: 20px;
}

.orderItemTitle {
	font-size: 28px;
	font-weight: bold;
}

.orderItemDescription {
	font-size: 18px;
}

.border {
	border-style: solid;
	border-width: 1px;
}