<ion-header no-border>
	<ion-toolbar>
		<ion-buttons slot="primary">
			<ion-button class="menuButton">Menu</ion-button>
			<ion-button class="menuButton">About Us</ion-button>
			<ion-button class="menuButton">Contact Us</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="flex-container">
		<div style="title">
			<img src="../../assets/pictures/logoTitle.png">
		</div>
		<div class="placeOrderArea flex-element" (click)="redirect('/order1')">
			<div class="placeOrderTitle">
				Place an Order!
			</div>
		</div>
	</div>
</ion-content>
